nav {
  background-color: #5D6D7E;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}